:root {
    background: #c2e59c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
body {
  margin: 10px;
}

.card__content{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card__link{
    background-color:rgb(19, 15, 238,0.8);
    width:20%;
    height:10vh;
    text-align: center;
    border-radius: 10px;
    box-shadow:10px 10px 20px 1px rgb(19, 15, 238,0.9);
    border: 1px solid white;
    text-decoration: none;
}

.card__link:hover{
    background-color:rgb(19, 15, 238,1);
}
.card__word{
   color: white; 
   text-align: center;

  
}





@media(max-width:500px){
    .card__word{
        font-size:16px;
    }
}